.sign_block{
	border:1px solid @color_hover_e;	
	background-color:@color_white;
	width:25%;
	margin-left:auto;
	margin-right:auto;
	margin-top:10%;
	margin-bottom:10%;
	overflow:hidden;
	.box-shadow(0 0 20px 5px rgba(0,0,0,.1));
	.border_radius(4px);
	.sign_block__head{
		background-color:@color_blue;
		text-align:center;
		padding:20px;
	}
	.sign_title{
		.font(@color_white, @raleway, @font-size-big);
		margin-top:0px;
		margin-bottom:15px;
	}
	.sign_subtitle{
		.font(@color_white, @raleway, @font-size-strong);
		margin-bottom:0;
	}
	.sign_block__or{
		color:darken(@color_poor_gray,5%);
		text-align:center;
		text-transform: uppercase;
	}
	.sign_block__body{
		padding:20px;
	}
	.cb-checkbox{
		display:block;
		margin-bottom:5px;
		.cb-inner{
			.border_radius(4px);
		}		
	}
	.form-group{
		margin-bottom:0;
		.form-control{
			.border_radius(0);
			border-bottom:1px solid transparent;
		}
		&:first-child{
			.form-control{
				.border_radius(4px 4px 0 0);				
			}
		}
		&:last-child{
			margin-bottom:15px;
			border-bottom: 1px solid @color_hover_e;
			.form-control{
				.border_radius(0 0 4px 4px);
			}
		}
	}	
}
/*.sign__drop{
	a{
		padding:6px 12px;
		color:@color_white;
		border:1px solid @color_white;		
		position:relative;
		margin-right:10px;
		.border_radius(4px 0 0 4px);
		&:after{			
			font:normal normal normal 15px/1 FontAwesome;
			content:"\f107";
			position:absolute;
			top:-1px;
			right:-22px;
			padding:6px;
			border-top:1px solid @color_white;	
			border-right:1px solid @color_white;	
			border-bottom:1px solid @color_white;
			.border_radius(0 4px 4px 0);
		}
		&:hover, &:focus, &:focus:active, &:active{
			color:darken(@color_white, 5%);
			text-decoration:none;
		}
	}
	.dropdown-menu{
		min-width:140px;
		padding:0;
		.border_radius(0);
		li{
			padding:3px 10px;			
			&:hover{
				background-color:@color_blue;
				color:@color_white;
				cursor:pointer;
			}
		}
	}
}*/