
<p>
<strong><abbr title="Frequently Asked Questions">FAQ</abbr></strong>
</p>
<ul>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/general:monitoring_accounts" class="wikilink1" title="general:monitoring_accounts">Can I use the service to monitor my clients social media accounts?</a></div>
</li>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/general:social_activity" class="wikilink1" title="general:social_activity">How does Social Activity widget work?</a></div>
</li>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/general:update_interval" class="wikilink1" title="general:update_interval">How often are reviews and the main social media info updated?</a></div>
</li>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/general:influencers_watch" class="wikilink1" title="general:influencers_watch">Who are influencers and how to interact with them?</a></div>
</li>
</ul>
