<ul>
<li class="level1"><div class="li"> <strong>How can I make replies or retweets on Twitter?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Social Media</strong> on the <strong>Dashboard</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3545554.png?id=getting_started%3Atwitter_replies_retweets" class="media" title="wiki:3545554.png"><img src="/knowledge-base/_media/wiki:3545554.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
<li class="level1"><div class="li"> 2. Choose <strong>Twitter</strong> and you will see your feed.</div>
</li>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:159.png?id=getting_started%3Atwitter_replies_retweets" class="media" title="wiki:159.png"><img src="/knowledge-base/_media/wiki:159.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
<li class="level1"><div class="li"> 3. Use <strong>arrows</strong> to reply or retweet.</div>
</li>
<li class="level1"><div class="li"></div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:524520.png?id=getting_started%3Atwitter_replies_retweets" class="media" title="wiki:524520.png"><img src="/knowledge-base/_media/wiki:524520.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"></div>
</li>
</ul>
