<ul>
<li class="level1"><div class="li"> <strong>Hot to add Rss feed?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Rss</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:001.png?id=getting_started%3Arss" class="media" title="wiki:001.png"><img src="/knowledge-base/_media/wiki:001.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Fill in the empty fields with names and links of feeds, click <strong>Save</strong>. You can add up to <strong>10</strong> links.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:002.png?id=getting_started%3Arss" class="media" title="wiki:002.png"><img src="/knowledge-base/_media/wiki:002.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. After adding you will see a list of your feeds. You can always <strong>Remove</strong> them and <strong>Add</strong> new ones.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:003.png?id=getting_started%3Arss" class="media" title="wiki:003.png"><img src="/knowledge-base/_media/wiki:003.png" class="media" alt="" /></a>
</p>
