
<p>
<strong>Where to check recurred posts?</strong>
</p>
<ul>
<li class="level1"><div class="li"> 1. Choose <strong>Social Media</strong> on the <strong>Dashboard</strong>, click <strong>Cron Posts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:101.png?id=getting_started%3Ascheduled_posts" class="media" title="wiki:101.png"><img src="/knowledge-base/_media/wiki:101.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Here you can see your recurred posts. </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:102.png?id=getting_started%3Ascheduled_posts" class="media" title="wiki:102.png"><img src="/knowledge-base/_media/wiki:102.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. There is an option to <strong>Edit</strong> them. After tapping <strong>Edit</strong> button, such pop-up arise.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:103.png?id=getting_started%3Ascheduled_posts" class="media" title="wiki:103.png"><img src="/knowledge-base/_media/wiki:103.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. After making any changes, click <strong>Save</strong>.</div>
</li>
</ul>
