<ul>
<li class="level1"><div class="li"> <strong>How to manage CRM?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>CRM</strong> on the <strong>Dashboard</strong>.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:91.png?id=managing_services%3Acrm" class="media" title="wiki:91.png"><img src="/knowledge-base/_media/wiki:91.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Click <strong>Add record</strong> and you will see the fields for adding information, after adding click <strong>Save</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:92.png?id=managing_services%3Acrm" class="media" title="wiki:92.png"><img src="/knowledge-base/_media/wiki:92.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Click <strong>Directory</strong> on the <strong>Dashboard</strong> to see added accounts.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:93.png?id=managing_services%3Acrm" class="media" title="wiki:93.png"><img src="/knowledge-base/_media/wiki:93.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. Click <strong>Delete</strong> for removing the account. If you want to make changes click <strong>Edit</strong> and you will see this window.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:94.png?id=managing_services%3Acrm" class="media" title="wiki:94.png"><img src="/knowledge-base/_media/wiki:94.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 5. In the <strong>Clients activity</strong> you can follow accounts added.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:95.png?id=managing_services%3Acrm" class="media" title="wiki:95.png"><img src="/knowledge-base/_media/wiki:95.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 6. To reply or retweet use arrows under the each Twitter post.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:reply.png?id=managing_services%3Acrm" class="media" title="wiki:reply.png"><img src="/knowledge-base/_media/wiki:reply.png" class="media" alt="" /></a>
</p>
