<ul>
<li class="level1"><div class="li"> <strong>How to compose a message?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Social Media</strong> on the <strong>Dashboard</strong> and click <strong>Create</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:10.png?id=getting_started%3Anew_message" class="media" title="wiki:10.png"><img src="/knowledge-base/_media/wiki:10.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Type your message in the empty field.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:11.png?id=getting_started%3Anew_message" class="media" title="wiki:11.png"><img src="/knowledge-base/_media/wiki:11.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. <strong>Image designer</strong> is a default option so if you don’t want to choose any of the images switch to <strong>Photo</strong> and leave it as it is.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:6.png?id=getting_started%3Anew_message" class="media" title="wiki:6.png"><img src="/knowledge-base/_media/wiki:6.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. Click <strong>Post update</strong> and the message will appear immediately.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:85.png?id=getting_started%3Anew_message" class="media" title="wiki:85.png"><img src="/knowledge-base/_media/wiki:85.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 5. If you want to schedule your post put the tick on <strong>Schedule post</strong> and choose date and time tapping the field with numbers.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:455454.png?id=getting_started%3Anew_message" class="media" title="wiki:455454.png"><img src="/knowledge-base/_media/wiki:455454.png" class="media" alt="" /></a>
</p>
