<ul>
<li class="level1"><div class="li"> <strong>How to use Image designer?</strong>  </div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <strong>Image designer</strong> makes your posts unique. You can choose a photo from the gallery or download yours. There is an option to type text on the image. You can choose font type and color.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Social Media</strong> on the <strong>Dashboard</strong> and click <strong>Create</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:10.png?id=getting_started%3Amanaging_image_designer" class="media" title="wiki:10.png"><img src="/knowledge-base/_media/wiki:10.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Type your <strong>Head text</strong> and choose font. There is an option to add logo and <strong>secondary text</strong> too.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:%D1%80%D0%BE%D0%BB.png?id=getting_started%3Amanaging_image_designer" class="media" title="wiki:рол.png"><img src="/knowledge-base/_media/wiki:%D1%80%D0%BE%D0%BB.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Choose the type of the image. You can also upload an image from your computer and make the same changes</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:%D0%B0%D0%BB%D0%BE.png?id=getting_started%3Amanaging_image_designer" class="media" title="wiki:ало.png"><img src="/knowledge-base/_media/wiki:%D0%B0%D0%BB%D0%BE.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. Click <strong>Post update</strong> or <a href="/knowledge-base/getting_started:schedule_a_post" class="wikilink1" title="getting_started:schedule_a_post">Schedule post</a> → Post update.</div>
</li>
</ul>
