<ul>
<li class="level1"><div class="li"> <strong>How to set up Analytics?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Analytics</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_0.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:3_0.png"><img src="/knowledge-base/_media/wiki:3_0.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Click <strong>Connect</strong> button to attach your <strong>Google Analytics</strong> account.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_1.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:3_1.png"><img src="/knowledge-base/_media/wiki:3_1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Allow <strong>Smintly</strong> to see your data by clicking <strong>Accept</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_2.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:3_2.png"><img src="/knowledge-base/_media/wiki:3_2.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. You will see your added account, click <strong>Save</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_3.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:3_3.png"><img src="/knowledge-base/_media/wiki:3_3.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 5. Here is your added account. You can change settings whenever you like by clicking <strong>Change</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_4.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:3_4.png"><img src="/knowledge-base/_media/wiki:3_4.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 6. Choose <strong>Analytics</strong> on the <strong>Dashboard</strong> to see the statistics.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_5.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:3_5.png"><img src="/knowledge-base/_media/wiki:3_5.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  7. There is an option to view your full Twitter statistics separately. Choose <strong>Social Media</strong> on the <strong>Dashboard</strong> and click <strong>Analytics</strong> near your Twitter account.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:123456789.png?id=getting_started%3Amanaging_analytics" class="media" title="wiki:123456789.png"><img src="/knowledge-base/_media/wiki:123456789.png" class="media" alt="" /></a>
</p>
