<ul>
<li class="level1"><div class="li"> <strong>Personal Settings</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li">  In this section you can change you <strong>Personal settings</strong>.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> </div>
</li>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Personal Settings</strong>.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <a href="/knowledge-base/_detail/wiki:6_0.png?id=managing_services%3Apersonal_settings" class="media" title="wiki:6_0.png"><img src="/knowledge-base/_media/wiki:6_0.png" class="media" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 2. You can change your password, name, timezone etc. After making all of the changes, click <strong>Save</strong> button.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:6_1.png?id=managing_services%3Apersonal_settings" class="media" title="wiki:6_1.png"><img src="/knowledge-base/_media/wiki:6_1.png" class="media" alt="" /></a>
</p>
