<ul>
<li class="level1"><div class="li"> <strong>Q: How can I set up and trace reviews?</strong></div>
</li>
<li class="level1"><div class="li"> A: Please go to Settings - Directory Settings and indicate URLs to collect reviews you need - <a href="http://prntscr.com/5696y7" class="urlextern" title="http://prntscr.com/5696y7"  rel="nofollow">http://prntscr.com/5696y7</a></div>
</li>
</ul>
