.main_block{
	background-color:@color_white;
	border-top:1px solid @color_hover_e;
	border-bottom:1px solid @color_hover_e;		
	padding:30px;
}
.head_title{
	.font(@color_head_title, @raleway, @font-size-lg-big);
	padding:0px;
	margin:0px;
	font-weight:@font-weight-light;
}
.head_tab{
	.font(@color_black, @montSerrat, @font-size-strong);
	padding-bottom:10px;
	border-bottom:1px solid @color_hover_e;
	margin-bottom:20px;
	margin-top:0px;
}
.block_content{
	background-color:@color_white;
	border:1px solid @color_hover_e;
	.box-sizing();
	.block_content_title{
		.box-sizing();
		padding:10px;
		border-bottom:1px solid @color_hover_e;
		margin:0px;
		.font(@color_black, @raleway, @font-size-big);		
		[class*='ti']{
			color:@color_blue;
			font-size:@font-size-xs-big;
		}
		.likes_count{
			.font(@color_span, @raleway, @font-size-strong);
			span{
				.font(@color_span, @raleway, @font-size-small-big);
			}
		}
	}
	.block_content_body{
		padding:20px;		
		position:relative;
		.box-sizing();
		.summary_block{	
			text-align:center;			
			.fa, [class*='ti-']{
				color:@color_blue;
				font-size:@font-size-fa;
				//float:left;
				width: 32px;
				//margin-top: 8px;
			}
			.summary_text{
				.font(@color_span, @segue, @font-size-strong);
				margin-bottom:0px;				
				span{
					.font(@color_span, @segue, @font-size-small-big);
					margin-bottom:5px;
				}
				small{
					font-size:@font-size-small;
					color:@color_text;
					display:block;
					margin-top: 3px;
				}
			}	
		}
		&.dashboard_content{
			height:300px;
		}
		.radar_content{
			max-height:700px;
			overflow:auto;
			margin-top: -20px;
			margin-right: -20px;
			margin-left: -20px;
			margin-bottom: 20px;
		}
		.radar_body{
			padding:20px;
			.box-sizing();
			.radar_picture{
				width:50px;
				height:50px;
				margin-right: 10px;
				float: left;
				margin-bottom:10px;
			}
			.radar_head{
				position:relative;
				 padding-right: 35px;
				.fa, [class*='ti-']{
					color:@color_hover_e;
					font-size:@font-size-lg;
					margin-right:10px;
				}
				.radar_date{
					.font(@color_span, @raleway, @font-size-lg);
					font-weight:@font-weight-bold;
				}
			}
			.radar_text{
				.font(@color_span, @roboto, @font-size-default);
				margin-bottom:0px;
			}
			&:hover{
				background-color:@color_main_block;
				cursor:pointer;
				.fa, [class*='ti-']{
					color:@color_blue;
				}
			}
		}
		.block_content_footer{
			margin-right:-20px;
			margin-left:-20px;
			padding:10px 20px;
			.box-sizing();
			border-top:1px solid @color_hover_e;
			position:absolute;
			bottom:0;
			z-index:10;
			background-color:@color_white;
			width:100%;
		}
		&.calendar_body{
			overflow:hidden;
		}
		.calendar_note{
			border:1px solid @color_hover_e;
			padding:22px 20px 12px 20px;	
			margin-bottom:20px;
		}
	}
}
.trends_settings{
	padding-left:0px;
	margin:-20px;
	border-right:1px solid @color_hover_e;
	border-bottom:none;
	.trends_item{
		list-style:none;
		float:none;
		margin:0px;
		.trends_link{
			.font(@color_span, @roboto, @font-size-large);
			padding:20px;
			display:block;
			border-top:1px solid @color_hover_e;
			border-right:none;
			border-left:none;
			border-bottom:none;
			margin:0px;
			.fa, [class*='ti-']{
				color:@color_blue;
				font-size:@font-size-xs-big;
				width:28px;
				margin-right:20px;
				text-align: center;
			}
			.trends_count{
				float:right;
			}
			&:hover, &:focus, &.active{
				text-decoration:none;
				background-color:@color_main_block;
				border-right:none !important;
				border-left:none !important;
				border-bottom:none !important;
				margin:0px;
			}
		}
		&.active{
			.trends_link{
				background-color:@color_main_block;
				border:none;
				border-top:1px solid @color_hover_e;
			}
		}
		&:first-child{
			.trends_link{
				border-top:none;
				&:hover{
					border-top:none !important;
				}
			}
		}
	}
}
.trends_settings, .trends_chart{
	height:330px;
	.highcharts-container, .highcharts-background{
		height:330px !important;
		margin:0 auto;
		width:600px !important;
		svg{
			height:330px !important;
		}
	}
}
.trends_chart{
	margin:-20px -10px;
}
.preview {
	.img-close {
		position: absolute;
		right: 27px;
		top: 13px;
		cursor: pointer;
	}
	.img-preview {
		width: 100%;
		margin-bottom: 10px;
	}
}