.error_text{
	display:none;
	color:red;
	margin-top:10px;
}
.form-group{
	position:relative;
	.form-control{
		border:1px solid @color_hover_e;
		.border_radius(0px);
		&:active, &:focus{
			border:1px solid @color_blue;
		}
	}
	textarea{
		resize:vertical;
	}
	.clear{
		position:absolute;
		right:10px;
		top:10px;
		color:@color_blue;
		font-size:@font-size-lg;
		&:hover{
			cursor:pointer;
		}	
	}
	&.has-error{
		.form-control{
			border:1px solid red;
		}
		.error_text{
			display:block;
		}
	}
	&.disabled{		
		&:after{
			background-position:-10px -7px;
			width: 9px;
			height: 11px;
			.bgSprite();
			position:absolute;
			top:10px;
			right:10px;
			display:block;
			content:'';
		}
	}
}