.header{
	background-color:@color_white;
	border-width:0px;
	height:70px;
	border-bottom:1px solid @color_border;
	.head_control{
		width:250px;
		float:left;
		border-right:1px solid @color_border;
		.btn-menu{
			margin-top:21px;
		}
	}
	.logo{
		float:left;
		padding:16px 20px 13px 20px;
	}
	.main-nav{
		padding-left:0px;
		margin-bottom:0px;
		margin-right:20px;
		float:left;
		.main-nav_item{
			list-style:none;
			float:left;	
			text-align:center;		
			.main-nav_link{
				.font(@color_text, @helvetica, @font-size-default);
				.text-uc();
				font-weight:@font-weight-bold;
				display:block;
				margin-right:1px;
				padding:12px 10px;
				.transition(0.3s, ease-in-out);				
				.fa, [class*='ti-']{
					color:@color_blue;
					font-size:@font-size-big;
					display:block;
					margin-bottom:3px;
				}
				&:hover, &:focus, &.active{
					background-color:@color_poor_gray;
					color:@color_text;
					text-decoration:none;
					.fa, [class*='ti-']{
						color:@color_blue;
					}
				}
			}
		}
	}
	.user-nav{
		padding-left:0px;
		float:right;
		margin-bottom:0px;	
		margin-right: 30px;	
		.user-nav_item{
			list-style:none;
			float:left;	
			position:relative;		
			.user-nav_text{
				.font(@color_text, @lato, @font-size-lg);				
				font-weight:@font-weight-bold;
			}				
			.user-nav_link{
				.font(@color_text, @lato, @font-size-lg);				
				font-weight:@font-weight-bold;
				position:relative;
				padding:25px 15px;
				display:block;
				.transition(0.3s, ease-in-out);	
				.user_avatar{
					.border_radius(4px);
					width:40px;
					height:40px;
				}
				&:hover, &.active{
					background-color:@color_poor_gray;
					text-decoration:none;
				}		
			}			
			.sub_menu{
				width:90px;
				.user-nav_item{
					.user-nav_link{
						width:100%;
						text-align:center;
					}
				}
			}
		}
	}
}
.sub_menu{
	display:none;
	border:1px solid @color_border;
	position:absolute;
	top:60px;
	right:0px;
	&:after{
		content: ' '!important;
		position: absolute;
		top: -10px;
		left: 70%;
		margin-left: -10px;
		display: block!important;
		width: 0;
		height: 0;
		border-left: 10px solid @color_poor_gray;
		border-right: 10px solid @color_poor_gray;
		border-bottom: 10px solid @color_white;
	}
	&:before {
		content: ' '!important;
		position: absolute;
		top: -9px;
		left: 70%;
		margin-left: -10px;
		display: block!important;
		width: 0;
		height: 0;
		border-left: 10px solid @color_border;
		border-right: 10px solid @color_border;
		border-bottom: 10px solid @color_border;
	}
	.user-nav_item{
		float:none !important; 
	}
	.user-nav_link{
		&.active{
			background-color:@color_white !important;
		}
		&:hover{
			background-color:@color_poor_gray !important;
		}
	}
}