<ul>
<li class="level1"><div class="li">  <strong>How to add a photo or video?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li">  1. Select <strong>Social Media</strong> on the <strong>Dashboard</strong> and click <strong>Create</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:10.png?id=getting_started%3Aposting_of_a_photo_or_video" class="media" title="wiki:10.png"><img src="/knowledge-base/_media/wiki:10.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  2. Here is the option of adding photo or video.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:9.png?id=getting_started%3Aposting_of_a_photo_or_video" class="media" title="wiki:9.png"><img src="/knowledge-base/_media/wiki:9.png" class="media" alt="" /></a>
</p>

<p>
<a href="/knowledge-base/_detail/wiki:31.png?id=getting_started%3Aposting_of_a_photo_or_video" class="media" title="wiki:31.png"><img src="/knowledge-base/_media/wiki:31.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  3. Add a photo or video from your computer and click <strong>Post update</strong>. </div>
</li>
<li class="level1"><div class="li">  Note! You can add only one photo/video per post.</div>
</li>
</ul>
