<ul>
<li class="level1"><div class="li"> <strong>How to set up directories?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Directory Settings</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.1.png?id=managing_services%3Adirectories" class="media" title="wiki:1.1.png"><img src="/knowledge-base/_media/wiki:1.1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Put the link of each directory in the empty field, click <strong>Save</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.2.png?id=managing_services%3Adirectories" class="media" title="wiki:1.2.png"><img src="/knowledge-base/_media/wiki:1.2.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Click <strong>Reviews</strong> on the <strong>Dashboard</strong> to check the collected stats.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.3.png?id=managing_services%3Adirectories" class="media" title="wiki:1.3.png"><img src="/knowledge-base/_media/wiki:1.3.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. There is the statistic for each directory.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.4.png?id=managing_services%3Adirectories" class="media" title="wiki:1.4.png"><img src="/knowledge-base/_media/wiki:1.4.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 5. You can also pick the date, to see the stats for selected time period.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.5.png?id=managing_services%3Adirectories" class="media" title="wiki:1.5.png"><img src="/knowledge-base/_media/wiki:1.5.png" class="media" alt="" /></a>
</p>
