
<p>
<strong>How to make your post recurring?</strong>
</p>
<ul>
<li class="level1"><div class="li"> 1. Choose <strong>Social Media</strong> on the <strong>Dashboard</strong>, click <strong>Create</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.....png?id=getting_started%3Arecurring_post" class="media" title="wiki:1.....png"><img src="/knowledge-base/_media/wiki:1.....png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Type your message, make attachments if needed.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3_.png?id=getting_started%3Arecurring_post" class="media" title="wiki:3_.png"><img src="/knowledge-base/_media/wiki:3_.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Put a tick near <strong>Make your post recurring</strong>. Choose day and time of posting.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:4_.png?id=getting_started%3Arecurring_post" class="media" title="wiki:4_.png"><img src="/knowledge-base/_media/wiki:4_.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. Click <strong>Post</strong> after all the changes are done.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 5. To check your posts <strong>Social Media</strong> on the <strong>Dashboard</strong>, click <strong>Cron Posts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:101.png?id=getting_started%3Arecurring_post" class="media" title="wiki:101.png"><img src="/knowledge-base/_media/wiki:101.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Here you can see your recurred posts. </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:102.png?id=getting_started%3Arecurring_post" class="media" title="wiki:102.png"><img src="/knowledge-base/_media/wiki:102.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. There is an option to <strong>Edit</strong> them. After tapping <strong>Edit</strong> button, you will see the following window.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:103.png?id=getting_started%3Arecurring_post" class="media" title="wiki:103.png"><img src="/knowledge-base/_media/wiki:103.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. After making any changes, click <strong>Save</strong>.</div>
</li>
</ul>
