<ul>
<li class="level1"><div class="li"><strong> How to add Google+ account?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Agoogle" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. There you will see the most popular <strong>Social Media</strong> accounts, choose <strong>Google+</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:%D0%B2.png?id=getting_started%3Agoogle" class="media" title="wiki:в.png"><img src="/knowledge-base/_media/wiki:%D0%B2.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. If you are logged in you will see this window, if you are not, then log in into <strong>Google+</strong> and you will see it either.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:f173c6dae9769e437adc4d74bab36fb5.png?id=getting_started%3Agoogle" class="media" title="wiki:f173c6dae9769e437adc4d74bab36fb5.png"><img src="/knowledge-base/_media/wiki:f173c6dae9769e437adc4d74bab36fb5.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. Click accept and your <strong>Google+</strong> account will be added to Smintly.</div>
</li>
</ul>
