<ul>
<li class="level1"><div class="li"><strong> Q: How often are reviews and the main social media info updated?</strong></div>
</li>
<li class="level1"><div class="li"> A: Time intervals are as follows:</div>
</li>
<li class="level1"><div class="li"> radar - every 10 min</div>
</li>
<li class="level1"><div class="li"> reviews - once a day</div>
</li>
<li class="level1"><div class="li"> activities  - every 10 min</div>
</li>
<li class="level1"><div class="li"> social reports - each hour</div>
</li>
<li class="level1"><div class="li"> reviews notifications - every hour</div>
</li>
</ul>
