
<p>
<strong>How to use bulk upload?</strong>
</p>
<ul>
<li class="level1"><div class="li"> 1. Choose <strong>Social Media</strong> on the <strong>Dashboard</strong>, click <strong>Create</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.....png?id=getting_started%3Abulk_upload" class="media" title="wiki:1.....png"><img src="/knowledge-base/_media/wiki:1.....png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Click <strong>Bulk upload</strong> to set up your scheduled post. The information is downloaded in .csv file. You can also check the example by clicking on <strong>Download example file</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:2.....png?id=getting_started%3Abulk_upload" class="media" title="wiki:2.....png"><img src="/knowledge-base/_media/wiki:2.....png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. When all the changes are done, click <strong>Post</strong> button at the bottom of the page.</div>
</li>
</ul>
