<ul>
<li class="level1"><div class="li"> <strong>How to use Collaboration team feature?</strong></div>
</li>
</ul>

<p>
This option lets you invite people to have access to your <strong>Dashboard</strong> (not <strong>Settings</strong>).
</p>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the Dashboard, click Collaboration team.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:5_0.png?id=getting_started%3Amanaging_collaboration_team" class="media" title="wiki:5_0.png"><img src="/knowledge-base/_media/wiki:5_0.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Click <strong>Invite</strong> button and enter email of the person you want to invite.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:5_1.png?id=getting_started%3Amanaging_collaboration_team" class="media" title="wiki:5_1.png"><img src="/knowledge-base/_media/wiki:5_1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Once having the email added you will see the page below. You can always <strong>Delete</strong> it or send <strong>Reinvite</strong> message in case the first one wasn&#039;t delivered.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:5_2.png?id=getting_started%3Amanaging_collaboration_team" class="media" title="wiki:5_2.png"><img src="/knowledge-base/_media/wiki:5_2.png" class="media" alt="" /></a>
</p>
