<ul>
<li class="level1"><div class="li"> <strong>How to share a link?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Social Media</strong> on the <strong>Dashboard</strong> and click <strong>Create</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:10.png?id=getting_started%3Alink_sharing" class="media" title="wiki:10.png"><img src="/knowledge-base/_media/wiki:10.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Insert the link you want to share here. Note that link is a must when you want to post something on LinkedIn.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:df6d654c80c263ebe1ad075c0b2dc4f5.png?id=getting_started%3Alink_sharing" class="media" title="wiki:df6d654c80c263ebe1ad075c0b2dc4f5.png"><img src="/knowledge-base/_media/wiki:df6d654c80c263ebe1ad075c0b2dc4f5.png" class="media" alt="" /></a>
</p>
