
<p>
<strong><abbr title="Frequently Asked Questions">FAQ</abbr></strong>
</p>
<ul>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/fees:fee_charged" class="wikilink1" title="fees:fee_charged">How much do I need to pay for the service?</a></div>
</li>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/fees:free_updates" class="wikilink1" title="fees:free_updates"> Do I need to pay any extra fee for service upgrades, new features?</a></div>
</li>
</ul>
