<ul>
<li class="level1"><div class="li"> <strong>How to add LinkedIn account?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Alinkedin" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. There you will see the most popular <strong>Social Media</strong> accounts, choose <strong>LinkedIn</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:789.png?id=getting_started%3Alinkedin" class="media" title="wiki:789.png"><img src="/knowledge-base/_media/wiki:789.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Then you will be redirected to <strong>LinkedIn</strong> and if you are not logged in enter your login details and allow access.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:67399f4ff344aa52fd0f6e7c465de3bb_1_.png?id=getting_started%3Alinkedin" class="media" title="wiki:67399f4ff344aa52fd0f6e7c465de3bb_1_.png"><img src="/knowledge-base/_media/wiki:67399f4ff344aa52fd0f6e7c465de3bb_1_.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. You will be redirected to <strong>Smintly dashboard</strong> where you will see your added account.</div>
</li>
</ul>
