<ul>
<li class="level1"><div class="li"> <strong>Q: Where should I set up my social media accounts to collect all info needed?</strong></div>
</li>
<li class="level1"><div class="li"> A: Social media accounts are tuned up in Settings in corresponding Social media tab - <a href="http://prntscr.com/567he6" class="urlextern" title="http://prntscr.com/567he6"  rel="nofollow">http://prntscr.com/567he6</a></div>
</li>
</ul>
