<ul>
<li class="level1"><div class="li"> <strong>Q: How does Social Activity widget work?</strong></div>
</li>
<li class="level1"><div class="li"> A: The widget provides live updates from social media accounts configured. So you are regularly updated with a new information. </div>
</li>
</ul>
