<ul>
<li class="level1"><div class="li"> <strong>Q: What framework and platform does Sminly work on?</strong></div>
</li>
<li class="level1"><div class="li"> A: The service is based on a script that uses open source technologies and is built on PHP and CodeIgniter framework. It also includes open source javascript libraries. </div>
</li>
</ul>
