<ul>
<li class="level1"><div class="li"> <strong>Q: Who are influencers and how to interact with them?</strong></div>
</li>
<li class="level1"><div class="li"> A: Influencers are individuals who make impact on your brand most, i.e. they can influence your potential buyers. Smintly allows to track their activity and engage with them. </div>
</li>
</ul>
