
<p>
<strong>Smintly allows you to create up to 5 profiles. For each profile you are able to create special settings. When using Smintly, make sure you picked up the correct profile in the header dropdown.</strong>
</p>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>My profiles</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:6_0.png?id=managing_profiles%3Ahow_to_manage_my_profiles" class="media" title="wiki:6_0.png"><img src="/knowledge-base/_media/wiki:6_0.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Click <strong>Create profile</strong> button to add a new profile. You can also see all of your profiles here.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:23.png?id=managing_profiles%3Ahow_to_manage_my_profiles" class="media" title="wiki:23.png"><img src="/knowledge-base/_media/wiki:23.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. You can switch one profile to another in the header dropdown.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:000.png?id=managing_profiles%3Ahow_to_manage_my_profiles" class="media" title="wiki:000.png"><img src="/knowledge-base/_media/wiki:000.png" class="media" alt="" /></a>
</p>
