<ul>
<li class="level1"><div class="li"> <strong>How can I delete social media accounts?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Adeleting_services" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. There is a <strong>Deleting option</strong> near every icon of your accounts.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:03.png?id=getting_started%3Adeleting_services" class="media" title="wiki:03.png"><img src="/knowledge-base/_media/wiki:03.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. This pop up will appear, tap <strong>Yes</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:03_1.png?id=getting_started%3Adeleting_services" class="media" title="wiki:03_1.png"><img src="/knowledge-base/_media/wiki:03_1.png" class="media" alt="" /></a>
</p>
