<ul>
<li class="level1"><div class="li"> <strong>Q: How can I register for the service?</strong></div>
</li>
<li class="level1"><div class="li"> A: It is necessary to indicate first name, surname, email and choose password to get registered.</div>
</li>
</ul>
