<ul>
<li class="level1"><div class="li"> <strong>Q: Do I need to pay any extra fee for service upgrades, new features?</strong></div>
</li>
<li class="level1"><div class="li"> A: You select a pricing plan and pay for the service once a month only. There are no additional payments. </div>
</li>
</ul>
