[class*='btn-']{
	&:hover, &:focus, &:active, &:focus:active{
		outline:none;
	}
}

.btn__start{
	background-color:@color_main_blue;	
	text-transform:capitalize;
	.font(@color_white, @open-sans, @font-size-lg-big - 2);
	.border_radius(4px);
	.box-shadow(0px 2px 5px -1px rgba(0,0,0,0.8));
	.transition(all 0.8s ease);
	&:hover, &:focus, &:active, &:focus:active{
		color:@color_white;		
		background-color:lighten(@color_main_blue,10%);
	}
	[class*='ti-']{
		position: relative;
		top: 2px;
		right: -5px;
	}
}

.btn-menu{
	display:none;
	position:absolute;
	top:-10px;
	left:10px;
	height:65px;
	padding:20px 10px;
	border-top:none;	
	background-color:transparent;
	border-left:1px solid @color_white;
	border-right:1px solid @color_white;
	border-bottom:1px solid @color_white;
	.border_radius(0px);
	.cb-bar{
		display:block;
		height:1px;
		width:25px;
		background-color:@color_white;
		margin-bottom:3px;
		&:last-child{
			margin-bottom:0px;
		}
	}
	&:hover{
		background-color:@color_light_blue;
	}
}
.btn-sign{
	background:none;
	border:none;
	display:none;
	.border_radius(0px);
	color:@color_nav;
	padding:0px;
	margin-top:14px;
	margin-left:15px;
	&:hover, &:focus, &:active, &:focus:active{
		color:@color_white;
	}
}