@color_white : white;
@color_black : black;

@color_main_blue  		: #089adb;
@color_light_blue 		: #5cadd2;
@color_button_blue 		: #345a80;
@color_frame 			: #e9f6fc;
@color_frame_border 	: #a8dcf3;
@color_text_title 		: #f3f4f5;

@color_title 			: #333333;
@color_text 			: #828a95;

@color_green 			: #6abb4f;
@color_red 				: #e74c3c;
@color_placeholder 		: #969798;

@color_bg 				: #f7f7f7;
@color_border 			: #e6e4e0;
@color_tarif_body 		: #fafbfd;
@color_footer 			: #3c4651;

@color_nav 				: #dbdbdb;
@color_scrolling 		: #798994;
@color_scrolling_menu 	: #acacac;