@font-weight-thin   	: 100;
@font-weight-light  	: @font-weight-thin  + 200;     //~300
@font-weight-normal 	: @font-weight-light + 100;     //~400
@font-weight-regular	: @font-weight-normal;
@font-weight-medium 	: @font-weight-normal + 100;   	//~500
@font-weight-semibold 	: @font-weight-medium + 100;   	//~600
@font-weight-bold   	: @font-weight-medium + 200;   	//~700
@font-weight-ultra-bold : @font-weight-bold + 200; 		//~900

/*-------------[ font size ]----------------*/

@font-size-default	: 13px;
@font-size-large 	: @font-size-default + 3; //~16px
@font-size-strong 	: @font-size-default + 2; //~15px
@font-size-lg	  	: @font-size-default + 1; //~14px
@font-size-sm     	: @font-size-default - 1; //~12px
@font-size-xs     	: @font-size-default - 2; //~11px
@font-size-small	: @font-size-default - 3; //~10px
@font-size-little 	: @font-size-default - 4; //~9px

@font-size-big			: @font-size-sm*2; // 24px
@font-size-lg-big		: @font-size-lg*2; // 28px
@font-size-xs-big		: @font-size-xs*2; // 22px
@font-size-small-big 	: @font-size-small*2; // 20px
@font-size-little-big	: @font-size-little*2; //18px
@font-size-logo 		: @font-size-lg*2 + 2px;

/*-------------[ font family ]----------------*/
@open-sans  : 'Open Sans', sans-serif;
@raleway 	: 'Raleway', sans-serif;