.form-group{
	.label-form{
		.font(@color_title, @open-sans, @font-size-large);
		font-weight:@font-weight-regular;
		margin-bottom:10px;
	}
	.form-control{
		.font(@color_title, @open-sans, @font-size-lg);
		.border_radius(4px);
		border:1px solid @color_title;
		padding:20px;
		resize:none;
		&:focus, &:active, &:focus:active{
			outline:none;
			border:1px solid @color_main_blue;
		}
	}
	&.has-error{
		.form-control{
			border:1px solid @color_red;
		}
		.error-text{
			color:@color_red;
			font-size:@font-size-lg;
			margin-top:15px;
		}
	}
}
.form-control::-webkit-input-placeholder{
	.font(@color_placeholder, @open-sans, @font-size-lg);
}
.form-control::-moz-placeholder{
	.font(@color_placeholder, @open-sans, @font-size-lg);
}
.form-control:-moz-placeholder{
	.font(@color_placeholder, @open-sans, @font-size-lg);
}
.form-control:-ms-input-placeholder{
	.font(@color_placeholder, @open-sans, @font-size-lg);
}