.header{
	height:65px;
	padding-top:10px;
	.transition(all 0.3s ease);
	.logo{
		.font(@color_white, @raleway, @font-size-logo);
		font-weight:@font-weight-semibold;
		display:block;
		text-transform:uppercase;
		float:left;
		.link(@color_white, @color_white);
		&:hover, &:active, &:focus{
			text-decoration:none;
		}
	}
	.nav{
		float:left;
		.nav__list{
			padding:0;			
			margin-left:40px;
			.nav__list__item{
				display:inline-block;
				margin-right:20px;
				margin-top:10px;		
				.nav__list__item__link{
					.font(@color_nav, @open-sans, @font-size-large);	
					.link(@color_nav, @color_white);
					&:hover{
						text-decoration: none;
					}
				}				
				&:last-child{
					margin-right:0px;
				}
			}
		}
	}
	.contact__{
		float:left;
		.contact__text{
			.font(@color_nav, @open-sans, @font-size-large);
			margin-bottom:0px;
			margin-top:10px;
		}
	}
	.sign__{
		float:right;
		.sign__list{
			.sign__list__item{
				display:inline-block;
				margin-right:20px;
				margin-top:3px;
				.sign__list__item__link{
					.font(@color_nav, @open-sans, @font-size-large);
					.link(@color_nav, @color_white);
					.transition(all 0.8s ease);
					&:hover{
						text-decoration: none;
					}
					&.sign__link{
						display:block;
						padding:5px 10px;
						border:1px solid @color_white;
						.border_radius(4px);						
						&:hover{
							background-color:@color_white;
							color:@color_main_blue;
						}					
					}
				}
			}
		}
	}
	&.is-scrolling{
		/*background-color:@color_main_blue;
		border-bottom:1px solid darken(@color_main_blue, 10%);
		a, p{
			color:@color_white !important;
		}*/
		background-color:@color_white;
		border-bottom:1px solid darken(@color_white, 10%);
		.logo{
			.font(@color_scrolling, @raleway, @font-size-logo);
			.link(@color_scrolling, @color_scrolling);
		}
		.nav{
			.nav__list{
				.nav__list__item{	
					.nav__list__item__link{
						.font(@color_scrolling_menu, @open-sans, @font-size-large);	
						.link(@color_scrolling_menu, darken(@color_scrolling_menu, 20%));
					}
				}
			}
		}
		.contact__{
			.contact__text{
				color:@color_scrolling_menu;
			}
		}
		.sign__{
			.sign__list{
				.sign__list__item{
					.sign__list__item__link{
						.font(@color_scrolling_menu, @open-sans, @font-size-large);	
						.link(@color_scrolling_menu, darken(@color_scrolling_menu, 20%));
					}
				}
			}
		}
		.btn-menu{
			border-color:@color_scrolling_menu;
			border-bottom:none;
			.cb-bar{
				background-color:@color_scrolling_menu;
			}
		}
		.btn-sign{
			color:@color_scrolling_menu;
			&:hover, &:focus, &:active, &:focus:active{
				color:@color_white;
			}
		}
	}
}