/*--------------[ Table ]----------------*/
.dTable{
	display:table;
	width:100%;
	.dRow{
		display:table-row;		
	}
	.dCell{
		display:table-cell;
		float:none;
		&.dCell__top{
			vertical-align:top;
		}
		&.dCell__middle{
			vertical-align:middle;
		}
		&.icon__image{
			width:58px;
		}
	}
}

/*--------------[ link ]----------------*/
.link{
	.link(@color_light_blue, @color_main_blue);
}
.link__block{
	.font(@color_light_blue, @open-sans, @font-size-little-big);
	.transition(all 0.3s ease);	
	display: inline-block;	
	position:relative;
	&:before, &:after{
		position:absolute;
		content:'';
		right:-15px;
		width:2px;
		height:10px;
		background-color:@color_light_blue;
	}
	&:before{
		.transform(-45deg);
		top:6px;
	}
	&:after{
		.transform(45deg);
		top:12px;
	}
	&:hover{
		color:@color_main_blue;
		text-decoration: none;
		&:before, &:after{
			background-color:@color_main_blue;
		}
	}	
}

/*--------------[ list ]----------------*/
.block__list{
	padding-left:20px;
	.block__list__item{
		.font(@color_text, @open-sans, @font-size-little-big);
		padding-bottom:10px;
		text-align:left;
	}
}

/*--------------[ Title ]----------------*/
.text__title{
	.font(@color_text_title, @open-sans, @font-size-lg-big*2);
	text-shadow: 1px 1px 2px @color_black;
	margin-bottom:20px;	
}
.text__subtitle{
	.font(@color_nav, @open-sans, @font-size-lg-big);
	margin-bottom:20px;
	text-shadow: 1px 1px 2px @color_black;
}

.text__promo{
	.font(@color_nav, @open-sans, @font-size-small-big);
	margin-top:10px;
}

.page__title{
	.font(@color_title, @open-sans, @font-size-small-big*2 + 2px);
}

.page__sub__title{
	.font(@color_title, @open-sans, @font-size-small-big);
}

.page__subtitle{
	.font(@color_title, @open-sans, @font-size-small-big);
	font-style:italic;
	margin-bottom:20px;
}

.content__subtitle{
	.font(@color_black, @raleway, @font-size-big);
	//font-style:italic;
}

.title__block{
	.font(@color_main_blue, @open-sans, @font-size-lg-big + 2px);
	margin-bottom:20px;
	display:block;
	&:hover, &:focus, &:focus:active, &:active{
		text-decoration:none;
	}
}

/*--------------[ anchor ]----------------*/
.cb-anchor{
	position:absolute;
	top:-50px;
	left:0;
	display:block;
	width:1px;
	height:1px;
	background:transparent;
}