[class*='icon-']{
	background-image:url('../images/icons/sprites.png');
	display:inline-block;
}
.icon-phone{
	background-position:-9px -8px;
	width: 14px;
	height: 12px;
}
.icon-arrow-right{
	background-position:-37px -8px;
	width: 30px;
	height: 20px;
}
.icon-tube{
	background-position:-37px -64px;
	width: 260px;
	height: 176px;
}
.icon-comp{
	background-position:-383px -20px;
	width: 255px;
	height: 246px;
}
.icon-people{	
	background-position:-52px -341px;
	width: 270px;
	height: 191px;
}

.icon-note{
	background-position:-420px -341px;
	width: 180px;
	height: 186px;
}

.icon-check{
	background-position:-55px -580px;
	width: 27px;
	height: 20px;
}

.icon-close{
	background-position:-119px -578px;
	width: 22px;
	height: 22px;
}

.icon-mail{
	background-position:-82px -665px;
	width: 682px;
	height: 482px;
	position:absolute;
	top:60px;
	left:0px;
}