.link(@color_link, @color_hover){
	position:relative;
	color:@color_link;
	padding-bottom: 5px;
	&:after{
		content: "";
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 0;
		height: 1px;
		background-color: @color_link;
		.transition(all 0.8s ease);
	}
	&:hover, &:focus, &:focus:active{
		color: @color_hover;
		text-decoration:none;
		&:after{
			width:100%;
			background-color: @color_hover;
		}
	}
}
.font(@color_text, @font_family, @font-size){
	color:@color_text;
	font-family: @font_family;
	font-size:@font-size;
}
.transition(@settings){
	-webkit-transition: @settings;
	-moz-transition: @settings;
	-o-transition: @settings;
	transition: @settings;
}
.border_radius(@size){
	-moz-border-radius: @size;
	-webkit-border-radius: @size;
	-o-border-radius: @size;
	border-radius: @size;
}
.box-sizing{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
.box-shadow (@settings){
	-webkit-box-shadow: @settings;
	-moz-box-shadow: @settings;
	-o-box-shadow: @settings;
	box-shadow: @settings;
}
.transform(@degree){	
	-webkit-transform: rotate(@degree);
	-moz-transform: rotate(@degree);
	-ms-transform: rotate(@degree);
	-o-transform: rotate(@degree);
	transform: rotate(@degree);
}