html, body{
	height:100%;
}
.content{
	height:100%;
	.content__{
		padding-top:70px;
		padding-bottom:70px;
		height:100%;
		background:none;
	}
	.container__block{
		min-height: 100%;
  		padding-bottom: 70px;
  		padding-top: 70px;
  		background:none;
  	}	
	.header{
		background-color:@color_main_blue;
		border-bottom:1px solid darken(@color_main_blue, 10%);
		a, p{
			color:@color_white !important;
			background:none !important;
		}
		.sign__{
			.sign__list{
				.sign__list__item{
					.sign__list__item__link{
						.font(@color_scrolling_menu, @open-sans, @font-size-large);	
						.link(@color_white, @color_white);
						&.sign__link{
							.link(transparent, transparent);
							&:hover{
								background-color:@color_white !important;
								color:@color_main_blue !important;
							}
						}						
					}
				}
			}
		}
	}
	.content__image{		
		color:@color_main_blue;
		font-size:@font-size-big*2;
		margin-bottom:10px;
		text-align:center;
		margin-right:10px;
	}
	.content__text{
		.font(@color_black, @open-sans, @font-size-little-big);	
		line-height:1.5;
		margin-bottom:0px;
	}
	.btn__start{
		padding: 10px 20px;
		font-size: 20px;
		position: static;
		margin-bottom:20px;
	}
	.footer{
		margin-top:-60px;
	}
}