@media all and (min-width:1200px){

}
@media all and (max-width:1199px){
	.text__title{
		.font(@color_text_title, @open-sans, @font-size-lg-big*2 - 10px);
	}
	.text__subtitle{
		.font(@color_nav, @open-sans, @font-size-lg-big - 5px);
	}
	.header {
		.nav{
			.nav__list{
				margin-left:20px;
				.nav__list__item{
					margin-right:10px;
				}
			}			
		}
		.sign__{
			.sign__list{
				.sign__list__item{
					margin-right:10px;
				}
			}
		}		
	} 
}
@media all and (max-width:1199px) and (min-width:992px){
	/*.tafif__plan {
		.tafif__plan__content, 
		.tafif__plan__condition{
			&:nth-child(5), &:nth-child(12), &:nth-child(13){
				height:71px;
			}
		} 
	}*/
}

@media all and (min-width:992px){
	
}

@media all and (max-width:991px){
	.btn-menu, .btn-sign{
		display:block;
	}
	.header{
		.logo{
			margin-left:55px;
		}
		&, &.is-scrolling{
			.nav{
				display:none;
				position:absolute;
				top:54px;
				left:10px;
				background-color:@color_white;
				border:1px solid @color_scrolling_menu;
				.nav__list{
					margin:0;
					.nav__list__item{
						float:none;
						display:block;
						margin:0;
						.nav__list__item__link{
							display:block;
							padding:5px 45px 5px 15px;
							margin-bottom:3px;
							&:after{
								width:0px !important;							
							}
							&:hover{
								background-color:@color_scrolling_menu;
								color:@color_white;
							}
						}
					}
				}
			}
			.sign__{
				display:none;
				position:absolute;
				top:54px;
				right:10px;
				background-color:@color_white;
				border:1px solid @color_scrolling_menu;
				.sign__list{
					margin:0;
					padding:0;
					.sign__list__item{
						float:none;
						display:block;
						margin:0;
						.sign__list__item__link, .sign__list__item__link.sign__link{
							display:block;
							padding:5px 45px 5px 15px;
							margin-bottom:3px;
							&:after{
								width:0px !important;							
							}
							&:hover{
								background-color:@color_scrolling_menu;
								color:@color_white;
							}
						}
					}
				}
			}
		}
		.contact__{
			.contact__text{
				margin-top:13px;
			}
		}
		.btn-sign{
			margin-top:18px;
		}
	}
	.nivo-caption{
		top:15%;
	}
	.text__title{
		.font(@color_text_title, @open-sans, @font-size-lg-big*2 - 20px);
	}
	.text__subtitle{
		.font(@color_nav, @open-sans, @font-size-lg-big - 12px);
	}
	.container__block{
		&.container__block__p-b100{
			padding-bottom:120px;
		}
	}
	.tafif__plan{
		width:100%;
		float:none;
		margin-bottom:40px;
		top:-108px;
		.tafif__plan__content{
			height:auto !important;
			&:before{
				content:attr(data-attr)":";
				display: inline-block;
				margin-bottom:5px;
				.font(@color_text, @open-sans, @font-size-large);
			}
		}
		&:first-child{
			display:none;
		}
	}
}

@media all and (max-width:991px) and (min-width:768px){

}

@media all and (min-width:768px){

}

@media all and (max-width:767px){
	.header{
		//position:static;
	}
	.icon-tube,
	.icon-people{
		margin-bottom:30px;
	}
	.icon-note,
	.icon-comp{
		margin-top:30px;
	}
	.icon-mail{
		width:100%;
	}
	.nivo-caption{
		top:10%;
	}
	.text__title{
		.font(@color_text_title, @open-sans, @font-size-lg-big*2 - 25px);
	}
	.page__title{
		font-size:@font-size-small-big*1.5;
	}
	.page__sub__title{
		font-size:@font-size-large;
	}
	.nivoSlider{
		&.banner{
			height:480px;
			img {
				height: 100% !important;
				width: auto !important;
			}
			.btn__start{
				padding:6px 12px;
				font-size:@font-size-lg;
				margin-top:0px;
			}
		}
	}
	.testimonials {
		.testimonials__content {
			.testimonials__content__text{
				font-size:@font-size-large;
			}
		}
	}
	.content__ {
		.btn__start{
			top:10px;
			padding:6px 12px;
			font-size:@font-size-large;
		}
		&.contact__block {
			.btn__start{
				font-size:@font-size-large;
				padding:6px 12px;
			}
		}
	}
	.dTable{
		display:block;
		width:100%;
		.dRow{
			display:table-row;		
		}
		.dCell{
			display:block;
			float:none;
			text-align: center;
		}
	}
	.block__list{
		padding:0px;
		.block__list__item{
			list-style:none;
			text-align:center;
		}
	}
	.testimonials {
		.testimonials__content{
			text-align:center;
			.testimonials__content__picture{
				float:none;
				display:block;
				margin-left:auto;
				margin-right:auto;
				margin-bottom:10px;
			}
			.testimonials__content__text,
			.testimonials__content__author{
				margin-left:0;
			}
		}
	} 
	.slick-dots{
		li{
			display:block;
			margin:auto;
			margin-bottom:10px;
			&:last-child{
				margin-bottom:0px;
			}
		}
	}
	.container__block{
		&.container__block__p-t100,
		&.container__block__p-t150{
			padding-top:50px;
		}
	}
}

@media all and (max-width:540px){
	.header{
		&, &.is-scrolling{
			.logo{
				font-size:@font-size-small-big;
				margin-top:12px;
				margin-left:48px;
			}
			.contact__{
				.contact__text{
					font-size:@font-size-sm;
					margin-top:18px;
					[class*='icon-']{
						display:none;
					}
				}
			}
			.btn-sign{
				margin-left:10px;
				margin-top:20px;
			}
		}		
	}
}