.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	max-height:700px;
	.nivoSlider_picture{
		position:absolute;
		top:0px;
		left:0px;
		max-width: none;
	}
	.nivo-imageLink {
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		border:0;
		padding:0;
		margin:0;
		z-index:6;
		display:none;
		background:white; 
		filter:alpha(opacity=0); 
		opacity:0;
	}
	&, & >, &:focus, & >:focus{
		outline:none;
	}
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
	img { display:block; }
}

.nivo-caption {
	position:absolute;	
	top:25%;
	width:100%;
	z-index:8;
	.nivo-control {
		display:inline !important;
	}
}
.nivo-html-caption {
    display:none;
}

.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}

.nivo-controlNav {	
	text-align: center;
	padding: 20px 0;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: 1029;
	a {
		display: inline-block;
		width: 15px;
		height: 15px;
		.border_radius(50%);
		margin-left:5px;	
		margin-right:5px;	
		text-indent:-9999px;
		background-position:-172px -6px;	
		border: 1px solid @color_white;
		opacity:0.5;
		&:hover{
			cursor:pointer;
		}
		&.active{
			background-color:@color_white;
			opacity:1;
		}
	}
}

.banner__language{
	max-height:900px;
}