.tarif__body{
	background-color:@color_tarif_body;
}
.tafif__plan{
	border-top:1px solid @color_border;
	border-right:1px solid @color_border;	
	background-color:@color_white;
	position:relative;
	top:-81px;
	margin-bottom: -173px;
	float:left;
	width:24%;
	&:first-child{
		width:28%;
		border-left:1px solid @color_border;
	}
	.tafif__plan__condition{
		padding:10px 20px;
		text-align:left;
		//height:46px;
		border-bottom:1px solid @color_border;
		.tafif__plan__condition__text{
			.font(@color_text, @open-sans, @font-size-little-big);
			margin-bottom:0px;
		}
		/*&.condition__small__ru{
			height:71px;
		}
		&.condition__big__ru{
			height:96px;
		}*/
	}
	.tafif__plan__content{
		padding-top:10px;
		padding-bottom:10px;
		//height:46px;
		text-align:center;
		border-bottom:1px solid @color_border;
		.tafif__plan__content__text{
			.font(@color_text, @open-sans, @font-size-little-big);
			margin-bottom:0px;
		}
		.ti-check{
			color:@color_green;
			font-size:@font-size-big;
		}
		.ti-close{
			color:@color_red;
			font-size:@font-size-big;
		}
		&:last-child{
			border-right:none;
		}
		/*&.condition__small__ru{
			height:71px;
			padding-top:23px;
		}
		&.condition__big__ru{
			height:96px;
			padding-top:33px;
		}*/
	}
	.tarif__plan__head{
		text-align:center;
		.tafif__plan__condition{
			padding-top:31px;
			text-align:left;
			height:80px;
			.tafif__plan__head__text{
				.font(@color_text, @open-sans, @font-size-small-big);
			}
		}
		.tafif__plan__content{
			padding:10px 20px;
			height:80px;
			.tafif__plan__head__text{
				.font(@color_text, @open-sans, @font-size-small-big);
				margin-bottom:0px;
			}
			.tafif__plan__head__price{
				.font(@color_black, @open-sans, @font-size-large);
				margin-bottom:0px;
				font-weight:@font-weight-semibold;
				.tafif__plan__head__price__{
					font-size:@font-size-xs-big;					
				}
			}
		}
	}
	.tarif__plan__footer{
		.tafif__plan__condition{
			padding-top:32px;
			padding-bottom:20px;
			height:auto;
			.tafif__plan__footer__text{
				.font(@color_text, @open-sans, @font-size-small-big);
			}
		}
		.tafif__plan__content{
			height:91px;
			padding-top:15px;
			.btn__start{
				display:inline-block;
				margin:auto;
				margin-bottom:5px;
				font-size:@font-size-little-big;
			}
		}	
	}	
}