<ul>
<li class="level1"><div class="li"> <strong>How to set up User Search Keywords?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>User Search Keywords</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:20.png?id=getting_started%3Amanaging_user_search_keywords" class="media" title="wiki:20.png"><img src="/knowledge-base/_media/wiki:20.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Here is how added keyword looks. To add a new one tap <strong>Add keyword</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:21.png?id=getting_started%3Amanaging_user_search_keywords" class="media" title="wiki:21.png"><img src="/knowledge-base/_media/wiki:21.png" class="media" alt="" /></a>
<a href="/knowledge-base/_detail/wiki:23.png?id=getting_started%3Amanaging_user_search_keywords" class="media" title="wiki:23.png"><img src="/knowledge-base/_media/wiki:23.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. To set up advanced settings use these options. Click <strong>Save</strong> after making all the changes.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:22.png?id=getting_started%3Amanaging_user_search_keywords" class="media" title="wiki:22.png"><img src="/knowledge-base/_media/wiki:22.png" class="media" alt="" /></a>
</p>
