<ul>
<li class="level1"><div class="li"> <strong>How to add Instagram account?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Ainstagram" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. There you will see the most popular <strong>Social Media</strong> accounts, choose <strong>Instagram</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:3.png?id=getting_started%3Ainstagram" class="media" title="wiki:3.png"><img src="/knowledge-base/_media/wiki:3.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Log in in your account and allow <strong>Smintly</strong> to access you data. You will see your added account on Smintly <strong>Dashboard</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:999.png?id=getting_started%3Ainstagram" class="media" title="wiki:999.png"><img src="/knowledge-base/_media/wiki:999.png" class="media" alt="" /></a>
</p>
