<ul>
<li class="level1"><div class="li"> <strong>How to set keywords?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Keywords</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:456.png?id=getting_started%3Akeywords_managing" class="media" title="wiki:456.png"><img src="/knowledge-base/_media/wiki:456.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Tap <strong>Add keyword</strong> button on the bottom of the page to add new one.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:158.png?id=getting_started%3Akeywords_managing" class="media" title="wiki:158.png"><img src="/knowledge-base/_media/wiki:158.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Tick <strong>Exact</strong> if you want to search this very word.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:2222.png?id=getting_started%3Akeywords_managing" class="media" title="wiki:2222.png"><img src="/knowledge-base/_media/wiki:2222.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. <strong>Include/Exclude</strong> button suppose the possibility to add/remove related words from the search.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:63.png?id=getting_started%3Akeywords_managing" class="media" title="wiki:63.png"><img src="/knowledge-base/_media/wiki:63.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 5. After making all the changes click <strong>Save</strong> button.</div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 6. You can view stats choosing <strong>Web mentions</strong>. Select <strong>All mentions</strong> or certain Social Media.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:2_0.png?id=getting_started%3Akeywords_managing" class="media" title="wiki:2_0.png"><img src="/knowledge-base/_media/wiki:2_0.png?w=200&amp;tok=02647a" class="media" alt="" width="200" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 7. You can choose time lapse and words to view.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:2_1.png?id=getting_started%3Akeywords_managing" class="media" title="wiki:2_1.png"><img src="/knowledge-base/_media/wiki:2_1.png" class="media" alt="" /></a>
</p>
