.solution .solution-price-free{ color:green; display:block;text-align: center;}
.solution .solution-price-free-cloud{color:#cecece;font-size:20px;display: block;margin-top: 10px;text-align: center;}
.slider{height:733px;text-align:center; padding:0;}
.slider>div {right:20px;}
button.prev{left:-20px;}

.nivoSlider {
	position:relative;
	width:100%;
	overflow: hidden;
	margin-bottom:40px;
	max-height: 480px;
}

.nivoSlider .nivoSlider_picture{
	position:absolute;
	top:0px;
	left:0px;
	bottom:0;
	max-width: none;
}
.nivoSlider .nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
.nivoSlider .nivo-imageLink, .nivoSlider .nivo-imageLink >, .nivoSlider .nivo-imageLink:focus, .nivoSlider .nivo-imageLink >:focus{
	outline:none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}

.nivo-box img { display:block; }

.nivo-caption {
	position:absolute;	
	top:23%;
	width:100%;
	z-index:8;	
}

.nivo-caption a {
	display:inline !important;
}

.nivo-html-caption {
    display:none;
}

.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}

.nivo-controlNav {	
	text-align: center;
	padding: 20px 0;
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	z-index: 1029;
	bottom:0;
	margin-left:-20px;
}

.nivo-controlNav a{
	text-indent:-99999px;
	width:16px;
	height:16px;
	margin-right:5px;
	border:2px solid white;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
	background:transparent;
	display:inline-block;
}

.nivo-controlNav a.active{
	background-color:#f48326;
}

.nivo-controlNav a:last-child{
	margin-right:0;

}

.top-middle{width:75%; margin:auto; text-align:center;}
.text__title{font-size:48px; font-family: 'Montserrat', sans-serif; color:white; font-weight:bold; line-height:65px; margin-bottom:20px;}
.text__subtitle{font-family: 'Montserrat', sans-serif; color:white; font-weight:100; font-size:24px; line-height:25px;}

.slideThumb{
	border:none;
}

.support__banner{
	background-image: url('../images/social_networks_monitoring.jpg');
	background-size:cover;
}

.nivoBanner{
	position:relative;
	max-height:480px;
}


/*------------------[ Responsive ]--------------------*/
@media all and (max-width:992px){
	.slider{
		height:auto;
		min-height:550px;
	}
	.top-middle{
		width:95%;
	}
	.text__title{font-size:36px; line-height:36px;}
	.text__subtitle{font-size:18px; line-height:18px;}
}

@media all and (max-width:767px){
	.slider-navigation{display:none;}
	.slider{
		min-height:550px;
		margin-bottom:0;
	}	
	.controls button.next {
	    right: -10px;
	}
	.text__title{font-size:24px; line-height:26px;}
	.text__subtitle{font-size:14px; line-height:16px;}
	[id*=slider-] li {
	    /*width: auto !important;*/
	}
	.slideThumb{
		min-height:160px;
		padding-top:10px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.nivo-caption .container{

	}
}
@media all and (max-width:540px){
	.slider{
		min-height:335px;
	}	
}
@media (max-width:540px){
	.nivoSlider{
		height:300px;
	}
	.nivoSlider img{
		height: 100%!important;
   		width: auto!important;
	}
	.nivo-caption {
		top:0;
		padding-top:10%;
	}
	.top-middle{
		margin:0;
		width:100%;
	}
	.slider{
		min-height:290px;
	}
	.nivo-caption .container{
		padding:0;
	}
}
@media all and (max-width:330px){
	.slider{
		min-height:170px;
	}	
}