/*! 
 * Updated         : 26.02.14
 * Further changes : @ElmahdiMahmoud
 */
#main-wrapper {
    padding-bottom: 60px;
    position: relative;
}
.subscribe-overlay {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: none;
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
	z-index:5000;
    top: 0;
}
.subscribe-window {
    background: #fff;
    color: #8A8A8A;
    display: none;
    height: 100px;
    left: 35%;
    padding: 45px;
    position: fixed;
    top: 25%;
    width: 395px;
	z-index:5001;
	border-radius: 10px;
}
.subscribe-window .title {
    color: #333333;
    font: 200 25px/100% 'Raleway',sans-serif;
    margin: 5px 0 30px;
    text-align: center;
}
.subscribe-window .title span {
    color: #B19046;
}
.subscribe-window p {
    color: #8A8A8A;
    font-size: 15px;
    line-height: 22px;
}
.subscribe-window .yellow-butt {
    background: none repeat scroll 0 0 #E2A731;
    border: medium none;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    height: 31px;
    line-height: 20px;
    margin-left: -1px;
    padding: 0 25px;
}
.subscribe-window input[type="email"] {
    padding: 6px 6px 3px;
    width: 270px;
}
.subscribe-window .small-size {
    font-size: 12px;
}
.subscribe-window a {
    color: #B19046;
}
.subscribe-window a:hover {
    text-decoration: underline;
}
.subscribe-window .close-butt {
    background: url("../images/close-butt.png") no-repeat scroll 0 0;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 16px;
}
.subscribe-window .thanks-message {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
}
.subscribe-window.succsess {
    height: 150px;
}
@media (max-width: 900px) {
.subscribe-overlay {
    width: 99.8%;
}
.subscribe-window {
    height: auto;
    left: 22%;
    min-width: 220px;
    width: 45%;
}
.subscribe-window input[type="email"] {
    width: 100%;
}
.subscribe-window .yellow-butt {
    margin-bottom: 10px;
}
.subscribe-window.succsess {
    height: auto;
}
}

.subscribe-window .yellow-butt.loader{
    color: transparent;
    background-image: url(../images/alax_loader.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
.subscribe-window .error{
    color: #CD5C5C;
}