<ul>
<li class="level1"><div class="li"> <strong>How to set up Google places keywords?</strong>  </div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1. Choose <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Google Places Keywords</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:30.png?id=getting_started%3Amanaging_google_places_keywords" class="media" title="wiki:30.png"><img src="/knowledge-base/_media/wiki:30.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. Fill in 10 (or less) keyword phrases for search engine tracking and click <strong>Save</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:32.png?id=getting_started%3Amanaging_google_places_keywords" class="media" title="wiki:32.png"><img src="/knowledge-base/_media/wiki:32.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Choose <strong>Google Rank</strong> on the <strong>Dashboard</strong> to see statistics.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:33.png?id=getting_started%3Amanaging_google_places_keywords" class="media" title="wiki:33.png"><img src="/knowledge-base/_media/wiki:33.png" class="media" alt="" /></a>
</p>
