<ul>
<li class="level1"><div class="li"> <strong>How to add Youtube account?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> 1.Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Ayoutube" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. There you will see the most popular <strong>Social Media</strong> accounts, choose <strong>Youtube</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:8.png?id=getting_started%3Ayoutube" class="media" title="wiki:8.png"><img src="/knowledge-base/_media/wiki:8.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. Enter your login details and then you will be redirected back to <strong>Smintly dashboard</strong>. If you are logged in you will see this pop up either.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:f173c6dae9769e437adc4d74bab36fb5.png?id=getting_started%3Ayoutube" class="media" title="wiki:f173c6dae9769e437adc4d74bab36fb5.png"><img src="/knowledge-base/_media/wiki:f173c6dae9769e437adc4d74bab36fb5.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. You will see your added account in the dashboard.</div>
</li>
</ul>
