
<h1 class="sectionedit1" id="managing_your_account">Managing Your Account</h1>
<div class="level1">

<p>
<strong>How do I manage Profiles?</strong>
</p>
<ul>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/managing_your_account:new_profile" class="wikilink2" title="managing_your_account:new_profile" rel="nofollow">How do I add a new profile?</a></div>
</li>
</ul>

<p>
<strong>How do I manage Content?</strong>
</p>

</div>
