<ul>
<li class="level1"><div class="li"> <strong>Q: Can I use the service to monitor my clients social media accounts?</strong></div>
</li>
<li class="level1"><div class="li"> A: Yes,  any accounts can be linked to the system if you have access to them.</div>
</li>
</ul>
