<ul>
<li class="level1"><div class="li"> <strong>How to add Facebook account?</strong></div>
</li>
</ul>
<ul>
<li class="level1"><div class="li">  1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>
<ul>
<li class="level1"><div class="li"> <a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Afacebook" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a></div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>
<ul>
<li class="level1"><div class="li">  2. There you will see the most popular <strong>Social Media</strong> accounts, choose <strong>Facebook</strong>.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:12.png?id=getting_started%3Afacebook" class="media" title="wiki:12.png"><img src="/knowledge-base/_media/wiki:12.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  3. If you are not logged in into <strong>Facebook</strong> you will be directed to Facebook to enter your login details.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:123.png?id=getting_started%3Afacebook" class="media" title="wiki:123.png"><img src="/knowledge-base/_media/wiki:123.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  4. Allow <strong>Smintly</strong> to access all you main data on <strong>Facebook</strong>.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:454564.png?id=getting_started%3Afacebook" class="media" title="wiki:454564.png"><img src="/knowledge-base/_media/wiki:454564.png" class="media" alt="" /></a>
</p>

<p>
<a href="/knowledge-base/_detail/wiki:4456.png?id=getting_started%3Afacebook" class="media" title="wiki:4456.png"><img src="/knowledge-base/_media/wiki:4456.png" class="media" alt="" /></a>
</p>

<p>
<a href="/knowledge-base/_detail/wiki:456852.png?id=getting_started%3Afacebook" class="media" title="wiki:456852.png"><img src="/knowledge-base/_media/wiki:456852.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  5. If you are logged in or after entering your login details you will see your <strong>added account</strong>.</div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:04daa6392ad7441afd1d71d9da31bb67.png?id=getting_started%3Afacebook" class="media" title="wiki:04daa6392ad7441afd1d71d9da31bb67.png"><img src="/knowledge-base/_media/wiki:04daa6392ad7441afd1d71d9da31bb67.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li">  6. You should also choose a <strong>fan page</strong> where Smintly will post for you. Click edit near your profile name and you will see a list or your fan pages.</div>
</li>
</ul>
