
<p>
<strong>  How to add Twitter account?</strong>
</p>
<ul>
<li class="level1"><div class="li"> 1. Select <strong>Settings</strong> on the <strong>Dashboard</strong>, click <strong>Social Accounts</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:1.png?id=getting_started%3Atwitter" class="media" title="wiki:1.png"><img src="/knowledge-base/_media/wiki:1.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 2. There you will see the most popular <strong>Social Media</strong> accounts, choose <strong>Twitter</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:11223231.png?id=getting_started%3Atwitter" class="media" title="wiki:11223231.png"><img src="/knowledge-base/_media/wiki:11223231.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 3. You will be redirected to <strong>Twitter</strong> where Smintly asks the authorization.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:0.png?id=getting_started%3Atwitter" class="media" title="wiki:0.png"><img src="/knowledge-base/_media/wiki:0.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 4. Enter your login details and then you will be redirected back to <strong>Smintly dashboard</strong>. If you are logged in you will see this pop up either.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:4568.png?id=getting_started%3Atwitter" class="media" title="wiki:4568.png"><img src="/knowledge-base/_media/wiki:4568.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 5. Your <strong>added account</strong> will be displayed like this.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:5.png?id=getting_started%3Atwitter" class="media" title="wiki:5.png"><img src="/knowledge-base/_media/wiki:5.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 6. You can also edit your account settings by clicking <strong>Edit</strong> button.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:156.png?id=getting_started%3Atwitter" class="media" title="wiki:156.png"><img src="/knowledge-base/_media/wiki:156.png" class="media" alt="" /></a>
</p>
<ul>
<li class="level1"><div class="li"> 7. This window with settings will appear, customize settings and click <strong>Save</strong>.</div>
</li>
</ul>

<p>
<a href="/knowledge-base/_detail/wiki:01.png?id=getting_started%3Atwitter" class="media" title="wiki:01.png"><img src="/knowledge-base/_media/wiki:01.png" class="media" alt="" /></a>
</p>
