<ul>
<li class="level1"><div class="li"><strong> Q: Is it possible to hop from one plan to another? Is it charged?</strong></div>
</li>
<li class="level1"><div class="li"> A: You may change your current plan any time you wish. It is not charged to do so. You pay for a monthly subscription only.  </div>
</li>
</ul>
