
<p>
<strong><abbr title="Frequently Asked Questions">FAQ</abbr></strong>
</p>
<ul>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/sign_up:pricing_plans" class="wikilink1" title="sign_up:pricing_plans">What is the most optimal pricing plan to start with?</a></div>
</li>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/sign_up:new_plan" class="wikilink1" title="sign_up:new_plan">Is it possible to hop from one plan to another? Is it charged?</a></div>
</li>
<li class="level1"><div class="li"> Q: <a href="/knowledge-base/sign_up:subscription_info" class="wikilink1" title="sign_up:subscription_info">How can I register for the service?</a></div>
</li>
</ul>
